.contact-container {
    max-width: 1403px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;

    .contact-info {
        display: flex;
        gap: 2rem;
        margin: 20px 0;
        
        .contact-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            background: #fbf7f7;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            
            .icon-container {
                margin-right: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #2eaf3b;
                display: flex;
                align-items: center;
                justify-content: center;
                
                svg {
                    color: #fff;
                    width: 20px;
                    height: 20px;
                }
            }
            
            .content {
                flex: 1;
                
                h1 {
                    font-size: 1.2rem;
                    color: #333;
                    margin: 0;
                }
                
                p {
                    margin: 0;
                    color: #666;
                }
            }
        }
      }
  

  }
  